<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>Document inicial M8</title>
  </head>
  <body>
    <header>
      <a href="" class="app-logo">ECHO S.A.</a>
      <nav class="main-nav">
        <a href="#" class="text-link -active">Home</a>
        <a href="#" class="text-link">Productes</a>
        <a href="jordi.html" class="text-link">Jordi Forcada</a>
        <a href="jaume.html" class="text-link">Jaume Blancafort</a>
        <a href="albert.html" class="text-link">Albert Urgell</a>
      </nav>
    </header>
    <div class="main-container">
      <div class="main-slider" style="background-image:url(../imatges/imatgeinici.png); background-size: contain;">
        <!--<img src="../imatges/" alt="image" class="img"style="width:100px;height:100px ; margin-left: 1px;"/>-->
      </div>
      <div class="page-container">
        <h4 class="title -section">Productes</h4>
        <div class="row clearfix text-center">
          <div class="grid-4 feature-item">
            <h4 class="title">ECHO xPress</h4>
            <img src="../imatges/echoxpress.jpg" alt="image" class="img"style="width:100px;height:100px ; margin-left: 1px;"/>
            
          </div>
          <div class="grid-4 feature-item">
            <h4 class="title">ECHO PX</h4>
            <img src="../imatges/echopx.jpg" alt="image" class="img"style="width:100px;height:100px ; margin-left: 1px;"/>
            
          </div>
          <div class="grid-4 feature-item">
            <h4 class="title">ECHO xPress Mini</h4>
            <img src="../imatges/echoxpressmini.jpg" alt="image" class="img"style="width:100px;height:100px ; margin-left: 1px;"/>
            
          </div>
        </div>
      </div>

        
        </div>
      </div>
    </div>
    <footer>
      <div class="page-container">
        <div class="row clearfix">
          <div class="grid-3">
            <p class="title">Links Stuff</p>
            <ul class="foo-nav">
              <li><a href="#">link-1</a></li>
              <li><a href="#">link-2</a></li>
              <li><a href="#">link-3</a></li>
              <li><a href="#">link-4</a></li>
              <li><a href="#">link-5</a></li>
              <li><a href="#">link-6</a></li>
            </ul>
          </div>
          <div class="grid-3">
            <p class="title">More Links Stuff</p>
            <ul class="foo-nav">
              <li><a href="#">link-1</a></li>
              <li><a href="#">link-2</a></li>
              <li><a href="#">link-3</a></li>
              <li><a href="#">link-4</a></li>
              <li><a href="#">link-5</a></li>
              <li><a href="#">link-6</a></li>
            </ul>
          </div>
          <div class="grid-6">
            <p class="title m-0">Send message</p>
            <form class="contact-form">
              <div class="grid-6 p-l-0">
                <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" placeholder="Enter your name" />
                </div>
              </div>
              <div class="grid-6 p-x-0">
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="email" placeholder="Enter your email" />
                </div>
              </div>
              <div class="form-group">
                <label for="">Message</label>
                <textarea type="text" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

